<h3><%= @restaurant.name %></h3>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>

<p>Reviews</p>

<% @restaurant.reviews.each do |review| %>
<p>------------------------------------</p>
<p><%= review.rating %></p>
<p><%= review.content %></p>
<% end %>

<p>Create new review</p>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to restaurants list", restaurants_path %>
